doctype html
html(lang="en")
    head
        style.

            .discord-messages {
                border: none !important;
            }

            .discord-message .discord-message-body pre {
                background-color: #2f3136;
                padding: 0;
                max-width: 90%;
                box-sizing: border-box;
                border-width: 1px;
                border-color: rgb(32, 34, 37);
            }

            .discord-message .discord-message-body pre.inline {
                border-width: 0;
            }

            .discord-message .discord-message-body pre code {
                display: block;
            }

            .discord-message .discord-message-body code {
                background-color: #2f3136;
                width: auto;
                height: auto;
                border: none;
                white-space: pre-wrap;
                padding: 0.2em;
                border-radius: 3px;
                font-size: 85%;
            }

            body {
                background-color: #36393f;
            }
    body
        discord-messages#messages
            discord-message(
                bot=message.author.bot
                avatar=message.author.avatar
                author=message.author.name
                role-color=message.author.color
                edited=message.edited
                timestamp=message.timestamp
            ) !{message.content}
                each embed in message.embeds
                    discord-embed(slot="embeds" color=embed.color provider=embed.provider.name author-name=embed.author.name author-image=embed.author.icon_url embed-title=embed.title url=embed.url image=embed.image.url thumbnail=embed.thumbnail.url)
                        if embed.description
                            discord-embed-description(slot="description") !{embed.description}
                        if embed.footer
                            discord-embed-footer(slot="footer" footer-image=embed.footer.icon_url timestamp=embed.timestamp)
                        if embed.fields
                        discord-embed-fields(slot="fields")
                            each field in embed.fields
                                discord-embed-field(field-title=field.name inline=field.inline inline-index=field.index) !{field.value}
                discord-attachments(slot="attachments")
                    each attachment in message.attachments
                        if attachment.type === "media"
                            discord-attachment(alt=attachment.name url=attachment.url height=attachment.height width=attachment.width)
                        else if attachment.type === "invite"
                            discord-invite(name=attachment.name icon=attachment.icon online=attachment.online members=attachment.members partnered=attachment.partnered verified=attachment.verified)
                        else
                discord-reactions(slot="reactions")
                    each reaction in message.reactions
                        discord-reaction(name=reaction.name emoji=reaction.emoji count=reaction.count)

